In [ ]:
#What is the output when following code is executed ?
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
print(id(names1))
print(id(names2))
names3 = names1[:]
print(id(names3))
names2[0] = 'Alice'
names3[1] = 'Bob'
sum = 0
for ls in (names1, names2, names3):
  print(ls)
  if ls[0] == 'Alice':
    sum += 1
  if ls[1] == 'Bob':
    sum += 10
print(sum)

139773234598768
139773234598768
139773234657552
['Alice', 'Bear', 'Charlton', 'Daman']
['Alice', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bob', 'Charlton', 'Daman']
12

In [ ]:
a = ('check',)
n = 2
for i in range(int(n)):
   a = (a,)
   print(a)

(('check',),)
((('check',),),)

In [ ]:
a=(1,2)
b=(3,4)
c=a+b
print(c)

(1, 2, 3, 4)

In [ ]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
print(d1 > d2)

TypeError: ignored

In [ ]:
a={'D':5,'Z':9,'C':7}
print(sorted(a))

['C', 'D', 'Z']

In [ ]:
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
print(squares.pop(4))
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}

In [ ]:
myList = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
     myList[i - 1] = myList[i]
for i in range(0, 6):
     print(myList[i]),

2
3
4
5
6
6

In [ ]:
list1 = [1, 3]
list2 = list1
list1[0] = 4
print(list2)

[4, 3]

In [ ]:
def Odd(a, b):
    if a & 1 and b &1:
        print("Both are Odd")
    elif(a&1):
        print("%d is Odd"%(a))
    elif(b&1):
        print("%d is Odd"%(b))
Odd(3, 4)

3 is Odd

In [ ]:
def cube(x):
    return x * x * x      
x = cube(3)    
print(x)

27

In [ ]:
def C2F(c):          
    return(c * 9//5 + 32) 
print(C2F(100)), 
print(C2F(0))

212
32

In [ ]:
def power(x=1, y=2):
    r = 1
    for i in range(y):
        r = r * x
    return r

print(power())
print(power(3, 3))

1
27

In [ ]:
x = 50
def func():
   global x
   print('x is', x),
   x = 2
   print('Changed global x to', x),
func()
print('Value of x is', x),

x is 50
Changed global x to 2
Value of x is 2

(None,)

In [ ]:
i=0
def change(i):
   i=i+1
   return i
change(1)
print(i)

0

In [ ]:
def a(b):        
    b = b.append(5)  
c = [1, 2, 3, 4] 
a(c) 
print(len(c))

5

In [ ]:
def power(x, y=2):
    r = 1
    for i in range(y):
        r = r * x
    return r
print(power(3))
print(power(3, 3))

9
27

In [ ]:
def printMax(a, b):
    if a > b:
        print(a, 'is maximum')
    elif a == b:
        print(a, 'is equal to', b)
    else:
        print(b, 'is maximum')
printMax(3, 4)

4 is maximum

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
print("Before Swapping the numbers:",a,b)
a=a+b
b=a-b
a=a-b

print("After Swapping the numbers:",a,b)

enter a number:5
enter a number:4
Before Swapping the numbers: 5 4
After Swapping the numbers: 4 5

In [ ]:
class test:
     def __init__(self,a="Hello World"):
         self.a=a
 
     def display(self):
         print(self.a)
obj=test()
obj.display()

Hello World

In [ ]:
class test:
     def __init__(self,a):
         self.a=a
 
     def display(self):
         print(self.a)
obj=test()
obj.display()

TypeError: ignored

In [ ]:
def sayHello():
    print('Hello World!')  
    sayHello()  
    sayHello()

In [ ]:
class Demo:
    def __new__(self):
        self.__init__(self)
        print("Demo's __new__() invoked")
    def __init__(self):
        print("Demo's __init__() invoked")
class Derived_Demo(Demo):
    def __new__(self):
        print("Derived_Demo's __new__() invoked")
    def __init__(self):
        print("Derived_Demo's __init__() invoked")
def main():
    obj1 = Derived_Demo()
    obj2 = Demo()
main()

Derived_Demo's __new__() invoked
Demo's __init__() invoked
Demo's __new__() invoked

In [ ]:
class A():
    def disp(self):
        print("A disp()")
class B(A):
    pass
obj = B()
obj.disp()

A disp()

In [ ]:
class A:
    def one(self):
        return self.two()
 
    def two(self):
        return 'A'
 
class B(A):
    def two(self):
        return 'B'
obj1=A()
obj2=B()
print(obj1.two(),obj2.two())

A B

In [ ]:
from math import factorial
print(factorial(5))
print(math.factorial(5))

120

NameError: ignored

In [ ]:
person_age = {
 "Rolf" : 31,
 'Jen' : 21,
 'Anne' : 17
}

def increase_age_of_person(persons,name):
 print('Person ID2',id(persons))
 persons[name] +=1

print('Person ID1 =',id(person_age))
print('Age ID1 =',id(person_age['Rolf']))

increase_age_of_person(person_age,'Rolf')

print('Age ID2 =',id(person_age['Rolf']))

Person ID1 = 139768571412144
Age ID1 = 11257024
Person ID2 139768571412144
Age ID2 = 11257056

In [ ]:
def create_account(name:str, holder:str, account_holders:list = []):
 account_holders.append(holder)
 return {
 'name' : name,
 'main_account_holder' : holder,
 'account_holders' : account_holders
 }

a1 = create_account('checking','Rolf')
a2 = create_account('saving','Jen')

print(a2)

{'name': 'saving', 'main_account_holder': 'Jen', 'account_holders': ['Rolf', 'Jen']}

In [ ]:
def create_account(name:str, holder:str, account_holders:list = []):
 account_holders.append(holder)
 return {
 'name' : name,
 'main_account_holder' : holder,
 'account_holders' : account_holders
 }

a1 = create_account('checking','Rolf',[])
a2 = create_account('saving','Jen',[])

print(a2)

{'name': 'saving', 'main_account_holder': 'Jen', 'account_holders': ['Jen']}

In [ ]:
accounts = {
 'checking' : 1000,
 'saving' : 2000
}

def add_balance(amount:float, name: str):
 accounts[name]+=amount

transactions = [
 (-100, 'checking'),
 (-200, 'saving'),
 (150, 'checking'),
 (-200, 'saving'),
 (-100, 'checking'),
 (200, 'saving'),
 (350, 'checking'),
 (-250, 'saving'),
 (-100, 'checking'),
 (-200, 'saving'),
 (1000, 'checking'),
 (2000, 'saving'),
]

for t in transactions:
 add_balance(*t)

print(accounts)

{'checking': 2200, 'saving': 3350}

In [ ]:
import datetime 
dt_1 = datetime.datetime.today() 
dt_2 = datetime.datetime.now()
print(dt_1) 
print(dt_2)

2022-06-22 17:24:05.702304
2022-06-22 17:24:05.702347

In [ ]:
import re
sentence = 'we are humans'
matched = re.match(r'(.*) (.*?) (.*)', sentence)
print(matched.groups())

('we', 'are', 'humans')

In [ ]:
import re
re.ASCII